<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Mis Vehículos</title>
</head>
<body>
    <main layout:fragment="content">
        <h1>Mis Vehículos</h1>
        <p>Aquí puedes ver y gestionar tus vehículos asignados.</p>
    </main>
</body>
</html>